//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/*-- scss:defaults --*/

// Fonts
$font-family-sans-serif: Roboto !default;
$font-family-monospace: "Roboto Mono" !default;
$font-size-root: 30px !default;

$body-bg: #DFCCFB !default;
$body-color: #191919 !default;

// Links
$link-color: #257AFD !default;
$link-decoration: underline !default;


$input-panel-bg: #257AFD !default;
$code-block-bg: lightgray !default;
$code-color: #FF3864;
$selection-bg: #257AFD;


/*-- scss:rules --*/

.border {
    border: 1px solid #dee2e6;
}

.border-thick {
    border-width: 3px;
}

/* Código para aumentar tamaño del logo */
.reveal .slide-logo {
    height: 90px !important;
    width: 150px !important;
    max-width: unset !important;
    max-height: unset !important;
}

/* Justificar el texto*/
.justify {
    text-align: justify !important
}

/* Centrar texto respecto eje X e Y*/
.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

/* Fuente más grande*/
.large-text {
    font-size: 48px;
}

/* Imágenes con bordes redondeados*/
.reveal img {
    border-radius: 10px;
}

.fondo-gris {
    background-color: #B2BEB5;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}

/* Fuente más pequeña*/
.mini-text {
    font-size: 24px;
}

/* Fuente aún pequeña*/
.mini-mini-text {
    font-size: 12px;
}

  /* Modificar tamaños de títulos por default */
.title {
    font-size: 80px !important;
    border-bottom: 3px solid black;
}

h2.non-empty {
    font-size: 60px !important;
    display: block;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    border: 2px solid #710193;
    border-radius: 10px;
    color: #710193 !important;
}

table tr:hover {
    background-color: lightgray;
}

table thead tr {
    background-color: lightgray;
}
