/*-- scss:defaults --*/

$body-bg: #DFCCFB !default;
$body-color: #191919 !default;
$link-color: #257AFD !default;
$input-panel-bg: #257AFD !default;
$code-block-bg: lightgray !default;
$code-color: #FF3864;
$selection-bg: #257AFD;
/*-- scss:defaults --*/

