/*-- scss:defaults --*/

$body-bg: #11cec5 !default;
$body-color: #191919 !default;
$link-color: #c511ce !default;
$input-panel-bg: rgba(160, 49, 164, 0.5) !default;
$code-block-bg: lightgray !default;
$code-color: #EE313A;
$selection-bg: #257AFD;
/*-- scss:defaults --*/

$body-bg: #11cec5 !default;
$body-color: #191919 !default;
$link-color: #c511ce !default;
$input-panel-bg: rgba(160, 49, 164, 0.5) !default;
$code-block-bg: lightgray !default;
$code-color: #EE313A;
$selection-bg: #257AFD;

